* {
  font-family: "Plus Jakarta Sans", sans-serif;
}
// * {
//   font-family: "Google Sans Flex", sans-serif;
// }


$background-color: #f4f2ee;
$surface-color: #ffffff;

$text-primary: #111827;
$text-secondary: #4b5563;

$border-color: #e5e7eb;

$radius-large: 24px;
$radius-medium: 16px;