.navigation-cards {
    width: 100%;
}

.navigation-card {
    position: relative;
    border-radius: 24px !important;
    border: 1px solid #eef2f7 !important;

    min-height: 150px;

    transition: all 0.2s ease;
    cursor: pointer;
}

.navigation-card:hover {
    transform: translateY(-4px);
}

.navigation-card__icon {
    width: 56px;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 16px;

    background: #f3f4f6;

    font-size: 24px;

    margin-bottom: 1.5rem;
}

.navigation-card__title {
    font-size: 1.5rem;
    font-weight: 600;

    color: #111827;

    margin-bottom: 0.75rem;
}

.navigation-card__description {
    font-size: 1rem;
    line-height: 1.6;
    color: #6b7280;
}

.navigation-card__arrow {
    position: absolute;

    right: 24px;
    bottom: 24px;

    font-size: 18px;

    color: #6b7280;
}

.navigation-card:hover .navigation-card__arrow {
    transform: translateX(4px);
}

.navigation-card__arrow {
    transition: transform 0.2s ease;
}

@media (max-width: 767px) {
    .navigation-card__description {
        white-space: nowrap;
        width: 190px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


@media (max-width: 575px) {
    .navigation-card__description {
        white-space: nowrap;
        width: 190px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}